body{
}
header{
    width: 100% 
}
.imgLogo{
    z-index: 2;
}
.nav-d{
    height: 6rem;
}
.headerText{
    margin-top: 70px; 
}
.nav_a{
    text-align: center;
    border: 1px solid gray;
    border-color: gray;
    width: 100%;
}
.nav_a:hover{
    background-color: #D3D3D3;
}

.footer{
    height: 3rem;
    background-color: gray;
    position: relative;
    margin-top: -200px;
}